In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Brand_Image_clean = pd.read_csv('Brand_Image_clean.csv', sep=',')

In [ ]:
Brand_Image_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643072 entries, 0 to 643071
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID          643072 non-null  int64
 1   Year        643072 non-null  int64
 2   City        643072 non-null  object
 3   Awareness   643072 non-null  object
 4   Attribute   643072 non-null  object
 5   BrandImage  643072 non-null  object
dtypes: int64(2), object(4)
memory usage: 29.4+ MB

In [ ]:
Brand_Image_clean.duplicated().sum()

np.int64(32804)

In [ ]:
Brand_Image_clean.drop_duplicates(inplace=True)

In [ ]:
Brandhealth_clean = pd.read_csv('Brandhealth_clean.csv', sep=',')

/tmp/ipython-input-6-614399167.py:1: DtypeWarning: Columns (16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  Brandhealth_clean = pd.read_csv('Brandhealth_clean.csv', sep=',')

In [ ]:
Brandhealth_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74419 entries, 0 to 74418
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                74419 non-null  int64
 1   Year              74419 non-null  int64
 2   City              74419 non-null  object
 3   Brand             74419 non-null  object
 4   Spontaneous       74419 non-null  int64
 5   Awareness         74419 non-null  int64
 6   Trial             74419 non-null  int64
 7   P3M               74419 non-null  int64
 8   P1M               74419 non-null  int64
 9   Comprehension     74419 non-null  int64
 10  Brand_Likability  74419 non-null  int64
 11  Weekly            74419 non-null  int64
 12  Daily             74419 non-null  int64
 13  Fre#visit         19332 non-null  float64
 14  PPA               14073 non-null  float64
 15  Spending          14073 non-null  float64
 16  Segmentation      14073 non-null  object
 17  NPS#P3M           21605 non-null  float64
 18  NPS#P3M#Group     21605 non-null  object
 19  Spending_use      14073 non-null  float64
dtypes: float64(5), int64(11), object(4)
memory usage: 11.4+ MB

In [ ]:
Brandhealth_clean.duplicated().sum()

np.int64(218)

In [ ]:
Brandhealth_clean.drop_duplicates(inplace=True)

In [ ]:
Companion = pd.read_csv('Companion.csv', sep=';')

In [ ]:
Companion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20739 entries, 0 to 20738
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               20739 non-null  int64
 1   City             20739 non-null  object
 2   Companion#group  20739 non-null  object
 3   Year             20739 non-null  int64
dtypes: int64(2), object(2)
memory usage: 648.2+ KB

In [ ]:
Companion.duplicated().sum()

np.int64(799)

In [ ]:
Companion.drop_duplicates(inplace=True)

In [ ]:
Competitor = pd.read_csv('/content/Competitor database_xlnm#_FilterDatabase.csv', sep=';')

In [ ]:
Competitor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No#         234 non-null    int64
 1   Brand       234 non-null    object
 2   City        234 non-null    object
 3   Year        234 non-null    int64
 4   StoreCount  234 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.3+ KB

In [ ]:
Competitor.duplicated().sum()

np.int64(0)

In [ ]:
dayofweek_clean = pd.read_csv('Dayofweek_clean.csv', sep=',')

In [ ]:
dayofweek_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39095 entries, 0 to 39094
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               39095 non-null  int64
 1   City             39095 non-null  object
 2   Dayofweek        39095 non-null  object
 3   Visit#Dayofweek  39095 non-null  float64
 4   Year             39095 non-null  int64
 5   Weekday#end      39095 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.8+ MB

In [ ]:
dayofweek_clean.duplicated().sum()

np.int64(44)

In [ ]:
dayofweek_clean.drop_duplicates(inplace=True)

In [ ]:
daypart_clean = pd.read_csv('Daypart_clean.csv', sep=',')

In [ ]:
daypart_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19189 entries, 0 to 19188
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             19189 non-null  int64
 1   City           19189 non-null  object
 2   Daypart        19189 non-null  object
 3   Visit#Daypart  19189 non-null  float64
 4   Year           19189 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 749.7+ KB

In [ ]:
daypart_clean.duplicated().sum()

np.int64(2)

In [ ]:
daypart_clean.drop_duplicates(inplace=True)

In [ ]:
need = pd.read_csv('/content/NeedstateDayDaypart.csv', sep=';')

In [ ]:
need.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75251 entries, 0 to 75250
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              75251 non-null  int64
 1   City            75251 non-null  object
 2   Year            75251 non-null  int64
 3   Needstates      75251 non-null  object
 4   Day#Daypart     75251 non-null  object
 5   NeedstateGroup  75251 non-null  object
dtypes: int64(2), object(4)
memory usage: 3.4+ MB

In [ ]:
need.duplicated().sum()

np.int64(72)

In [ ]:
need.drop_duplicates(inplace=True)

In [ ]:
sa = pd.read_csv('/content/SA#var.csv', sep=';')

In [ ]:
sa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11761 entries, 0 to 11760
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                11761 non-null  int64
 1   City              11761 non-null  object
 2   Group_size        11746 non-null  float64
 3   Age               11752 non-null  float64
 4   MPI#Mean          8044 non-null   float64
 5   TOM               11761 non-null  object
 6   BUMO              11761 non-null  object
 7   BUMO_Previous     6096 non-null   object
 8   MostFavourite     11761 non-null  object
 9   Gender            11761 non-null  object
 10  MPI#detail        8076 non-null   object
 11  Age#group         11752 non-null  object
 12  Age#Group#2       11752 non-null  object
 13  MPI               8044 non-null   object
 14  MPI#2             8044 non-null   object
 15  Occupation        11761 non-null  object
 16  Occupation#group  11761 non-null  object
 17  Year              11761 non-null  int64
 18  Col               11761 non-null  int64
 19  MPI_Mean_Use      8044 non-null   float64
dtypes: float64(4), int64(3), object(13)
memory usage: 1.8+ MB

In [ ]:
sa.duplicated().sum()

np.int64(0)

In [ ]:
segmentation = pd.read_csv('/content/Segmentation.csv', sep=';')

In [ ]:
segmentation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4944 entries, 0 to 4943
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            4944 non-null   int64
 1   Segmentation  4944 non-null   object
 2   Visit         4944 non-null   int64
 3   Spending      4944 non-null   int64
 4   Brand         4944 non-null   object
 5   PPA           4944 non-null   int64
dtypes: int64(4), object(2)
memory usage: 231.9+ KB

In [ ]:
segmentation.duplicated().sum()

np.int64(0)

Xuất file csv

In [ ]:
Brand_Image_clean.to_csv('Brand_Image_final.csv', index=False)

In [ ]:
Brandhealth_clean.to_csv('Brandhealth_final.csv', index=False)

In [ ]:
Companion.to_csv('Companion_final.csv', index=False)

In [ ]:
Competitor.to_csv('Competitor_final.csv', index=False)

In [ ]:
dayofweek_clean.to_csv('Dayofweek_final.csv', index=False)

In [ ]:
daypart_clean.to_csv('Daypart_final.csv', index=False)

In [ ]:
need.to_csv('Need_final.csv', index=False)

In [ ]:
sa.to_csv('SA_final.csv', index=False)

In [ ]:
segmentation.to_csv('Segmentation_final.csv', index=False)